aside {
  width: 40%;
  padding: 20px;
  margin: 20px;
  height: auto;
  float: right;
  background-color: #ffcccc; /* Lys rød baggrund */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid #ff6666; /* Mørkere rød kant */
}

 
  .dropbtn {
    background-color: #ff6666; /* Rød baggrund */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
          }
.dropdown {
          position: relative;
          display: inline-block;
          background-color: #ff6666; /* Mørkere rød ved hover */
        
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #ffe6e6; /* Lys rød baggrund */
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          border-radius: 5px;
      }
        
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 5px;
    }
        
    .dropdown:hover .dropbtn {
      background-color: #cc0000; /* Mørkere rød ved hover */
  }
        
        .dropdown:hover .dropdown-content {display: block;}
        
        .dropdown:hover .dropbtn {background-color: #3e8e41;}

        body {
          font-family: Arial, sans-serif;
          background-color: #ffe6e6; /* Lys rød baggrund */
          margin: 0;
          padding: 0;
          color: #333;
      }

/* Stil til formularen */
form {
  background-color: #ffcccc; /* Lys rød baggrund */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%; /* Samme bredde som aside */
  margin: 40px; ;
  border: 1px solid #ff6666; /* Mørkere rød kant */

}

/* Stil til inputfelter og knapper */
input[type="text"],
input[type="password"],
input[type="submit"],
button {
  width: 90%; /* Mindre bredde for at flugte med aside */
  padding: 10px;
  margin: 0px auto; /* Centrerer inputfelterne og knapperne */
  border: 1px solid #ff6666; /* Mørkere rød kant */
  border-radius: 5px;
  box-sizing: border-box;
  display: block; /* Gør inputfelterne og knapperne til blokke */
}

input[type="submit"],
button {
  background-color: #ff6666; /* Rød baggrund */
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: #cc0000; /* Mørkere rød ved hover */
}