body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('../images/Mr.grey.jpg'); /* Baggrundsbillede */
    background-size: cover; /* Sørg for, at billedet dækker hele baggrunden */
    background-position: center; /* Centrer baggrundsbilledet */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 16px;
    margin-bottom: 15px; /* Slightly increased spacing for better separation */
    color: #444; /* Darker color for better readability */
    text-align: center; /* Center the text */
    line-height: 1.5; /* Add line height for better text spacing */
    font-weight: normal; /* Make the text less bold for a cleaner look */
}

.input-container {
    display: flex;
    flex-direction: row; /* Arrange elements in a row */
    align-items: center; /* Align items vertically */
    margin-bottom: 20px;
}

.input-container label {
    font-weight: bold;
    margin-right: 10px; /* Add spacing between label and input */
    display: block;
    flex-basis: auto; /* Adjusted to fit content */
}

.input-container input[type="text"],
.input-container input[type="password"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px; /* Add spacing between input and image */
}

.input-container img {
    width: 20px; /* Reduce image size */
    height: 20px; /* Maintain aspect ratio */
    margin: 0; /* Remove extra margins */
    align-self: center; /* Align image vertically with input */
}

.input-container p {
    margin-bottom: 10px; /* Add spacing below the text */
    font-size: 14px; /* Adjust font size for better readability */
    color: #555; /* Subtle color for the text */
    text-align: left; /* Align text to the left */
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-container label {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

button:hover {
    background-color: #0056b3;
}

.profil {
    margin-top: 20px;
    text-align: center;
}

.profil h3 {
    font-size: 14px;
    color: #333;
}

.profil a {
    color: #007BFF;
    text-decoration: none;
}

.profil a:hover {
    text-decoration: underline;
}